*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;

  margin-block: 0;
}


:where(ul, ol):where([class]) {
  padding-left: 0;
}



body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}


:where(h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  display: flex;
  gap: 1rem;
  border: 0;
  margin: 0;
  padding: 0;
  min-inline-size: 0;

  & legend {
    padding: 0;
  }
}


:where(ul[class], ol[class]) {
  list-style: none;
}


p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}


/*p:where(:not([class]):not(:last-child)) {
   margin-bottom: var(--paragraphMarginBottom);
 }*/



img {
  display: block;
  max-width: 100%;
}


input,
textarea,
select,
button {
  font: inherit;
}

input,
textarea {
  background-color: transparent;
  color: currentColor;
}

html {

  height: 100%;

  scroll-behavior: smooth;
}

body {

  min-height: 100%;
}


svg *[fill] {
  fill: currentColor
}

svg *[stroke] {
  stroke: currentColor
}


svg * {
  transition-property: fill, stroke;
}


@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

dialog {
  padding: 0;
}

body:has(dialog[open]) {
  overflow: hidden;
}

[hidden] {
  display: none !important;
}

ins {
  text-decoration: none;
}