@import 'mixins';

.container {
    max-width: var(--container-max-width);
    width: 100%;
    margin-inline: auto;
    padding-inline: var(--container-padding-x);

    &--full-width {
        max-width: 100%;
    }
}

.section {
    padding-block: var(--section-padding-y);

    &__header {
        display: flex;
        justify-content: space-between;
        column-gap: 4rem;
        margin-bottom: var(--spacing-l);

        @include mobile {
            flex-direction: column;
            row-gap: var(--spacing-m);
        }

        @include mobile-above {
            align-items: end;
        }

        &--column {
            flex-direction: column;
            row-gap: var(--spacing-ml);
            align-items: start;
            justify-content: start;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        row-gap: var(--spacing-sm);
        flex-shrink: 1;
        max-width: var(--container-width-s);
    }
}

.visually-hidden {
    @include visually-hidden;
}

.hidden-mobile {
    @include mobile {
        display: none !important;
    }
}

.hidden-desktop {
    @include tablet-above {
        display: none !important;
    }
}

.visible-mobile {
    @include mobile-above {
        display: none !important;
    }
}

.visible-desktop {
    @include tablet {
        display: none !important;
    }
}

.display-contents {
    display: contents;
}

.display-none {
    display: none !important;
}

.margin-auto {
    margin: auto;
}


.default-list {
    @include reset-ul;
}

.svg-wrapper {
    width: 100%;
    @include flex-center(true);
}

.svg-wrapper svg {
    width: 100%;
    height: 100%;
    color: currentColor;
}

.img-cover {
    overflow: hidden;

    & :is(img, svg) {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.img-contain {
    overflow: hidden;

    & :is(img, svg) {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}

.reset-button {
    @include reset-button;
}