<section class="section container">
  <div class="section__inner">
    <div class="section__body">
      <h1 class="h1 margin-auto">{{ 'general.page_not_found' | t }}</h1>
      <div class="display-contents text--ml">
        <a
          href="{{ routes.root_url }}"
          class="button button--jumbo bold margin-auto"
          style="margin-top: var(--spacing-ml)"
        >
          {{- 'general.go_to_homepage' | t -}}
        </a>
      </div>
    </div>
  </div>
</section>
