@import 'imports';

.button {
    @include reset-button;
    @include flex-center(true);
    @include round-borders;

    flex-shrink: 0;
    padding: 1.6rem 2.4rem;
    font-size: 0.75em;
    border: var(--border-l);
    border-color: currentColor;

    @include tablet {
        padding: 1.2rem 2rem;
    }

    &:not(&--icon) {
        @include hover {
            scale: 1.02;
        }
    }

    &--jumbo {
        padding: 2.4rem 2.8rem;

        @include tablet {
            padding: 1.6rem 2.2rem;
        }

        @include mobile {
            padding-block: 1.2rem;
        }
    }

    &[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &--icon {
        --buttonIconPadding: 1.8rem;
        padding: var(--buttonIconPadding);
        @include square(5.6rem);
        border: none;
        border-radius: 0;

        .svg-wrapper {
            transition-duration: var(--transition-duration);
        }

        @include hover {
            .svg-wrapper {
                scale: 1.1;
            }
        }
    }
}