@import 'imports';

.product-grid {
    display: grid;
    --itemQuantity: 4;
    grid-template-columns: repeat(var(--itemQuantity), 1fr);


    @include tablet {
        --itemQuantity: 3;
    }

    @include mobile {
        --itemQuantity: 2;
    }

    &__item {
        width: 100%;
        height: 100%;
    }
}