@import 'imports';

.accordion {
    border-block: var(--border);
    border-color: var(--color-gray-medium-light);
    padding-block: 3.2rem;

    &--small {
        padding-block: 2rem;
    }

    &:not(&--first) {
        border-top: none;
    }

    &__inner {
        --rotateIndicatorBy: 0deg;

        &[open] {
            --rotateIndicatorBy: 90deg;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 4rem;
        cursor: pointer;
        color: var(--color-black);

        @include mobile {
            column-gap: 2rem;
        }
    }

    &--small &__header {
        column-gap: 2rem;
    }

    &__title {
        user-select: none;
    }

    &--small &__title {
        @include text-ml;
    }

    &__open-indicator {
        position: relative;
        width: 100%;
        height: 100%;

        &-wrapper {
            @include round(4.8rem);
            border: var(--border-l);
            padding: 1.2rem;
        }

        &::before,
        &::after {
            content: '';
            @include abs-center;
            width: 0.1rem;
            height: 100%;
            background-color: currentColor;
            transition: var(--transition-duration);
        }

        &::after {
            rotate: 90deg;
        }

        &::before {
            rotate: var(--rotateIndicatorBy);
        }
    }

    &--small &__open-indicator-wrapper {
        @include round(4.4rem);
        border: var(--border);

        @include tablet {
            @include round(4rem);
        }
    }

    &__title,
    &__body {
        max-width: var(--container-width-s);
    }

    &__body {
        padding-top: var(--spacing-sm);
    }
}