@import 'imports';

.search {

    &__form {
        display: flex;
        column-gap: 0.6rem;
    }

    &__button {
        background-color: var(--color-black);
        border-color: var(--color-black);
        color: var(--color-white);
    }
}